#level {
    display: flex;
}

.mine {
    background-color: red;
}

.not-clicked {
    background-color: gray;
}

.clicked {
    background-color: lightgray;
}

.flagged-mine1 {
    background: linear-gradient(to right bottom, #ffffff 0%,#ffffff 49.9%,red 50%,red 51%,#ffffff 51.1%,#ffffff 100%);
    background-image: linear-gradient(to bottom right,  transparent calc(50% - 1px), red, transparent calc(50% + 1px)); 
}

